html {
	-webkit-text-size-adjust: none;
	position: relative;
    height: 100%;
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
	height: 100%;
	margin: 0;
	position: relative;
}
#paginaheader {
  	background-image: url("../img/Headerbackground.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 -200px;
	height: 40vh;
	width: 100%;
	min-height: 80px;
	position: relative;
}
#logonav {
    display: block;
    margin: auto;
	max-width: 100%;
    height: 20vh;
	position: relative;
	top: 2vh;
	z-index: 1;
}
ul.leftnav, ul.rightnav {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #1A8900;
	position: relative;
	top: -95px;
	width: 50%;
	max-height: 10vh;
}
.leftnav li {
	margin-left:auto;
    margin-right:auto;
    float: left;
    border-right: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
}
.rightnav li {
    float: right;
    border-right: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
}
.leftnav li:last-child {
	border-left: 2px solid #ffffff;
}
.rightnav li:last-child {
	border-right: 2px solid #ffffff;
}
.leftnav li a, .rightnav li a {
    display: block;
    color: white;
    padding: 19px 16px;
    text-decoration: none;
}
.leftnav li a{
	float: right;
}
.rightnav li a{
	float: left;
}
.leftnav .active, .rightnav .active{
    text-decoration: underline;
	color: #ffffff;
}
.leftnav{
	float: left;
}
.leftnav li:first-child a{
	margin-right: 80px;
	float: left;
}
.leftnav li{
	float: right;
	text-align: center;
}
.rightnav{
	float: right;
	text-align: left;
}
.rightnav li:first-child a{
	margin-left: 80px;
	float: right;
	text-align: left;
}
.rightnav li{
	float: left;
}
.leftnav li a, .rightnav li a{
	text-align: center;
	font-size: 150%;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 10px;
}
#homesection {
	border-style: solid;
    border-color: #1A8900;
	min-height: 469px;
	margin: 0;
	max-width: 100%;
	overflow: initial;
}
#hometekstsection {
	height: 100%;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}
#hometekstarticle {
	display: inline;
	height: 40%;
	width: 60%;
	margin-bottom: 4%;
	float: left;
}
#bospadfoto {
	display: inline;
	width: 30%;
	float: right;
	margin-top: 1%;
}
#bospad {
	width: 70%;
}
#hometekst1 {
	text-decoration: none;
	font-size: 130%;
	font-weight: normal;
	margin-top: 5%;
	margin-bottom: 0%;
	width: 100%;
	float:left;
}
#hometekst2 {
	text-decoration: none;
	font-size: 130%;
	font-weight: normal;
	width: 100%;
	float:left;
	margin: 0;
}
#groeneletter {
	color: #1A8900;
	font-weight: bold;
}
.link {
	color: #0c23cd;
	text-decoration: none;
}
#paginafooter {
	background-image: url("../img/footerbackground.png");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100px;
	width: 100%;
	margin: 0;
	padding: 0;
	clear: both;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
	max-width: 50%;
}
li {
    float: left;
}
li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
	margin-top: 21px;
	margin-left: 16px;
	margin-right: 16px;
    text-decoration: none;
	font-size: 110%;
	font-weight: normal;
}
li a:hover {
    background-color: #1A8900;
}
.footernav .actief {
	color: #1A8900;
	font-weight: bold;
	border-bottom: 3px solid;
}
#actiefkleur {
  color: #FFFFFF;
  text-decoration: none;
}
#logofooter {
	display: block;
    margin: auto;
	margin-right: 20px;
	max-width: 100%;
    height: 10vh;
	position: relative;
	float: right;
	z-index: 1;
}
#disclaimer {
	display: block;
	color: #FFFFFF;
	position: relative;
	float: right;
	right: 5%;
}
#bronvermelding {
	color: #FFFFFF;
	text-decoration: none;
}/* Horeca pagina */
#horecasection {
	border-style: solid;
    border-color: #1A8900;
	min-height: 469px;
	margin: 0;
	max-width: 100%;
	overflow: initial;
}
#horecatekstsection {
	height: 100%;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.horecabeschrijving {
	height: 50px;
}
#stachfooter, #loetjefooter {
	margin-top: 90px;
	margin-bottom: 40px;
}
#koffiehuisjefooter {
	margin-top: 110px;
	margin-bottom: 40px;
}
.horecaarticle {
	display: inline;
	height: 40%;
	width: 60%;
	margin-top: 4%;
	margin-bottom: 4%;
	float: left;
}
.openingstijdensection, .websitesection, .adressection  {
	width: 33%;
	padding: 0;
	margin: 0;
	float: left;
}
.fotoaside {
	display: inline;
	width: auto;
	margin-left: 15%;
	float: right;
	margin-top: 4%;
	margin-bottom: 4%;
}
.bovenregel {
	text-transform: uppercase;
}
.horecah1, .horecatekst, .bovenregel, .middenregel, .onderregel {
	margin: 0;
	font-size: 110%;
	font-weight: bold;
}
#clear {
	clear:both;
	height: 1px;
	display:block;
	width:100%;
}
/* Contact pagina */
#contactsection {
	border-style: solid;
    border-color: #1A8900;
	min-height: 469px;
	margin: 0;
	max-width: 100%;
	overflow: initial;
	font-size: 110%;
	font-weight: bold;
}
#contacttekstsection {
	height: 100%;
	width: 40%;
	margin-left: 35%;
}
#contactkopsection {
	display: inline;
	height: 40%;
	margin-bottom: 4%;
	float: left;
	text-align: left;
	margin-left: 7%;
}
#inputsection {
	display: inline;
	float: left;
	margin-top: 6%;
	margin-left: 156px;
}
#gegevensinputsection {
	display: inline;
	width: auto;
	margin-bottom: 4%;
}
#berichtinputsection {
	margin-top: 65px;
	margin-bottom: 4%;
}
.contactformulier {
	margin-top: 17px;
}
.contactbeschrijving {
	margin-left: 15%;
}
input {
	margin:0;
}
#contacttitel {
	font-size: 140%;
	color: #000000;
	margin-left: 30%;
}
.contacth1 {
	font-size: 120%;
	margin: 0;
	color: #1A8900;
}
.inline {
  display: inline-block;
}
.inline + .inline {
  margin-left:10px;
}
.radio {
  color:#999;
  font-size:15px;
  position:relative;
}
.radio span {
  position:relative;
   padding-left:20px;
}
.radio span:after {
  content:'';
  width:15px;
  height:15px;
  border:3px solid;
  position:absolute;
  left:0;
  top:1px;
  border-radius:100%;
  -ms-border-radius:100%;
  -moz-border-radius:100%;
  -webkit-border-radius:100%;
  box-sizing:border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
.radio input[type="radio"]{
   cursor: pointer;
  position:absolute;
  width:100%;
  height:100%;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}
.radio input[type="radio"]:checked + span {
  color:#1A8900;
}
.radio input[type="radio"]:checked + span:before {
  content:'';
  width:5px;
  height:5px;
  position:absolute;
  background:#1A8900;
  left:5px;
  top:6px;
  border-radius:100%;
  -ms-border-radius:100%;
  -moz-border-radius:100%;
  -webkit-border-radius:100%;
}
.btn-style {
	border : solid 0px #1A8900;
	border-radius : 5px;
	color : #ffffff;
	padding : 5px 14px;
	background-color : #1A8900;
	text-transform: uppercase;
	font-size: 100%;
	font-weight: bold;
	float: right;
	margin-bottom: 8%;
}
.asterisk {
	color: #dd0000;
}
/* Mark pagina */
#marksection {
	border-style: solid;
    border-color: #1A8900;
	min-height: 469px;
	margin: 0;
	max-width: 100%;
	overflow: initial;
}
#marktekstsection {
	height: 100%;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
}
#marktekstarticle {
	display: inline;
	height: 40%;
	width: 60%;
	margin-top: 4%;
	margin-bottom: 4%;
	float: left;
}
#marktekst1 {
	text-decoration: none;
	font-size: 110%;
	font-weight: normal;
	margin-top: 1%;
	margin-bottom: 0%;
	float:left;
}
#marktekst2, #marktekst3, #marktekst4 {
	text-decoration: none;
	font-size: 110%;
	font-weight: normal;
	float:left;
	margin: 0;
	margin-top: 1%;
}
#markfoto {
	display: inline;
	width: 30%;
	float: right;
	margin-top: 5%;
	margin-bottom: 4%;
}
#mark {
	width: 80%;
}
/* reizen pagina */
#reizensection {
	border-style: solid;
  border-color: #1A8900;
	min-height: 469px;
	margin: 0;
	max-width: 100%;
	overflow: initial;
	text-decoration: none;
	font-size: 100%;
	font-weight: normal;
}
#reizentekstsection {
	height: 100%;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
}
#reizenheader {
	font-size: 130%;
	font-weight: bold;
}
#openbaarvervoerarticle, #autoarticle {
	display: inline;
	height: 40%;
	width: 60%;
	float: left;
}
#openbaarvervoertekst {
	margin: 0;
}
#treinh1 {
	margin-top: 2%;
	margin-bottom: 0;
}
#treintekst, #autoh2, #bustekst, #autotekst, #autotekst2, #autotekst3 {
	margin-top: 0;
	margin-bottom: 2%;
}
#bush1, #autoh1 {
	margin: 0;
}
#autoheader {
	margin-top: 2%;
	margin-bottom: 2%;
}
#autoarticle {
	margin-bottom: 2%;
}
#treinfoto {
	display: inline;
	width: 30%;
	float: right;
	margin-top: 5%;
	margin-bottom: 4%;
}
#trein {
	width: 140%;
}
/* Duinwijk pagina */
#duinwijksection {
	border-style: solid;
	border-color: #1A8900;
	min-height: 469px;
	margin: 0;
	max-width: 100%;
	overflow: initial;
}
#duinwijktekstsection {
	height: 100%;
	width: 60%;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
}
#duinwijkheader {
	font-size: 130%;
	font-weight: bold;
}
#wandelroutearticle, #zwembadtekstarticle {
	display: inline;
	height: 40%;
	width: 100%;
	float: left;
}
#wandelrouteheader, #zwembadheader {
	font-size: 130%;
	font-weight: bold;
	margin-bottom: 0%;
}
#wandelroutetekst1, #zwembadtekst1, #zwembadtekst2{
	text-decoration: none;
	font-size: 100%;
	font-weight: normal;
	margin-top: 0%;
	margin-bottom: 0%;
	width: 100%;
	float: left;
}
#wandelrouteh3 {
	margin: 0;
	font-size: 110%;
}
#wandelroute {
	display: inline;
	margin-left: 10%;
}
#wandelroutefoto {
	height: 40%;
    width: 79%;
    margin-top: 2%;
	margin-bottom: 2%;
}
#zwembadtekst1, #zwembadtekst2, #zwembadbron {
	margin-bottom: 1%;
}
#ingang, #zwembad {
	width: 43%;
}
#zwembad {
	margin-left: -3px;
}
#zwembadfoto {
	margin-left: 12%;
	margin-bottom: 4%;
	margin-top: 26%;
}
/* Weetjes pagina */
#weetjessection {
	border-style: solid;
    border-color: #1A8900;
	min-height: 469px;
	margin: 0;
	max-width: 100%;
	overflow: initial;
}
#weetjestekstsection {
	height: 100%;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
#weetjesbeschrijving {
	height: 50px;
}
#weetjesarticle {
	display: inline;
	height: 40%;
	width: 60%;
	margin-top: 4%;
	margin-bottom: 4%;
	float: left;
}
#weetjesh1, #weetjestekst, #weetjesh3 {
	margin: 0;
	font-size: 110%;
	font-weight: bold;
}
.weetjesh2 {
	margin-bottom: 1%;
}
.weetjestekst3 {
	margin-bottom: 0;
}
#weetjestekst2, .weetjestekstbekend {
	margin: 0;
	font-size: 100%;
}
#landgoedaside {
	display: inline;
	width: 30%;
	float: right;
	margin-top: 10%;
	margin-bottom: 4%;
}
#landgoedfoto {
	height: 100%;
	width: 100%;
}
/* bronvermelding */
#bronvermeldingsection {
	border-style: solid;
    border-color: #1A8900;
	min-height: 469px;
	margin: 0;
	max-width: 100%;
	overflow: initial;
}
#bronvermeldingtekstsection {
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#bronvermeldingtekstarticle {
	height: 40%;
	width: 100%;
	float: left;
}
.brontekst {
	text-decoration: none;
	font-size: 110%;
	font-weight: normal;
	float:left;
	margin-top: 1%;
}
#landgoedbron {
	width: 20%;
	margin-top: 1%;
}
#wandelroutebron {
	width: 20%;
	margin-top: 1%;
}