body{
	height; 100vh;
}

header {
    background-image: url("/images/Headerbackground.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 -200px;
	height: 40vh;
	width: 100%;
	
}

#logonav {
    display: block;
    margin: auto;
	max-width: 100%;
    height: 20vh;
	position: relative;
	top: 2vh;
	z-index: 1;
}
ul.leftnav, ul.rightnav {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #1A8900;
	position: relative;
	top: -110px;
	width: 50%;
	height: 80px;
}

.leftnav li {
	margin-left:auto;
    margin-right:auto;
    float: left;
    border-right: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
}
.rightnav li {
    float: right;
    border-right: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
}

.leftnav li:last-child {
	border-left: 2px solid #ffffff;
}
.rightnav li:last-child {
	border-right: 2px solid #ffffff;
}

.leftnav li a, .rightnav li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
	height: 80px;
}
.leftnav li a{
	float: right;
}
.rightnav li a{
	float: left;
}

.leftnav li:hover:not(.active), .rightnav li:hover:not(.active){
    background-color: #111;
}

.leftnav .active, .rightnav .active{
    background-color: #4CAF50;
}

@media screen and (max-width: 600px){
    ul.leftnav li {float: none;}
	ul.rightnav li {float: none;}
}	

.leftnav{
	float: left;
}
.leftnav li:first-child a{
	margin-right: 80px;
	float: left;
}
.leftnav li{
	float: right;
	text-align: center;
}
.rightnav{
	float: right;
	text-align: left;
}
.rightnav li:first-child a{
	margin-left: 80px;
	float: right;
	text-align: left;
}
.rightnav li{
	float: left;
}
.leftnav li a, .rightnav li a{
	text-align: center;
	font-size: 150%;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: 25px;
}
section {
	height: 50vh;
}

footer {
	background-image: url("images/footerbackground.png");
	background-size: cover;
	bottom: 0;
	background-repeat: no-repeat;
	height: 100px;
	width: 100%;
	margin: 0;
	position: absolute;
}