html {
	-webkit-text-size-adjust: none;
	position: relative;
    height: 100%;
}
body{
	height: 100%;
	margin: 0;
	position: relative;
}

#paginaheader {
    background-image: url("images/Headerbackground.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 -200px;
	height: 40vh;
	width: 100%;
	min-height: 80px;
	position: relative;
}

#logonav {
    display: block;
    margin: auto;
	max-width: 100%;
    height: 20vh;
	position: relative;
	top: 2vh;
	z-index: 1;
}
ul.leftnav, ul.rightnav {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #1A8900;
	position: relative;
	top: -95px;
	width: 50%;
	max-height: 10vh;
}

.leftnav li {
	margin-left:auto;
    margin-right:auto;
    float: left;
    border-right: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
}
.rightnav li {
    float: right;
    border-right: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
}

.leftnav li:last-child {
	border-left: 2px solid #ffffff;
}
.rightnav li:last-child {
	border-right: 2px solid #ffffff;
}

.leftnav li a, .rightnav li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
.leftnav li a{
	float: right;
}
.rightnav li a{
	float: left;
}


.leftnav .active, .rightnav .active{
    text-decoration: underline;
	color: #ffffff;
}

.leftnav{
	float: left;
}
.leftnav li:first-child a{
	margin-right: 80px;
	float: left;
}
.leftnav li{
	float: right;
	text-align: center;
}
.rightnav{
	float: right;
	text-align: left;
}
.rightnav li:first-child a{
	margin-left: 80px;
	float: right;
	text-align: left;
}
.rightnav li{
	float: left;
}
.leftnav li a, .rightnav li a{
	text-align: center;
	font-size: 150%;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: 25px;
}

#homesection {
	border-style: solid;
    border-color: #1A8900;
	min-height: 469px;
	margin: 0;
	max-width: 100%;
	overflow: initial;
}
#hometekstsection {
	height: 100%;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}
#hometekstarticle{
	height: 60%;
	width: 60%;
}
#bospadfoto {
	display: inline;
	position: static;
	width: auto;
	margin-left: 15%;
}
#bospad {
	height: 25%;
	width: 25%;
}
.hometekst1 {
	text-decoration: none;
	font-size: 130%;
	font-weight: regular;
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: 5%;
	margin-bottom: 0%;
	width: 100%;
	float:left;
}
.hometekst2 {
	text-decoration: none;
	font-size: 130%;
	font-weight: regular;
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 100%;
	float:left;
	margin: 0;
}
#groeneletter {
	color: #1A8900;
	font-weight: bold;
}
.link {
	color: #0c23cd;
	text-decoration: none;
}

#paginafooter {
	background-image: url("images/footerbackground.png");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 95px;
	width: 100%;
	margin: 0;
	padding: 0;
	clear: both;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #transparent;
	max-width: 50%;
}

li {
    float: left;
}

li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size: 110%;
	font-weight: regular;
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: 25px;
}

li a:hover {
    background-color: #1A8900;
}
.footernav .actief {
	text-decoration: underline;
	color: #1A8900;
	font-weight: bold;
}
#logofooter{
	display: block;
    margin: auto;
	margin-right: 20px;
	max-width: 100%;
    height: 10vh;
	position: relative;
	float: right;
	z-index: 1;
}
#disclaimer{
	display: block;
    margin: auto;
	color: #ffffff;
	position: relative;
	float: right;
	right: 5%;
	bottom: 15%;
}
@media screen and (min-width: 360px) {
	#paginafooter (height: 200px;)
	#logofooter (height: 200px;)
    #disclaimer {height: 200px; float: right;}
}


/* Horeca pagina */


#horecasection {
	border-style: solid;
    border-color: #1A8900;
	min-height: 469px;
	margin: 0;
	max-width: 100%;
	overflow: initial;
}
#horecatekstsection {
	height: 100%;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.horecabeschrijving {
	height: 50px;
}
#stachfooter {
	margin-top: 90px;
	margin-bottom: 40px;
}
#loetjefooter {
	margin-top: 90px;
	margin-bottom: 40px;
}
#koffiehuisjefooter {
	margin-top: 110px;
	margin-bottom: 40px;
}
.horecaarticle {
	display: inline;
	height: 40%;
	width: 60%;
	margin-top: 4%;
	margin-bottom: 4%;
	float: left;
}

.openingstijdensection {
	width: 33%;
	padding: 0;
	margin: 0;
	float: left;
}
.adressection {
	width: 33%;
	padding: 0;
	margin: 0;
	float: left;
}
.websitesection {
	width: 33%;
	padding: 0;
	margin: 0;
	float: left;
}
.fotoaside {
	display: inline;
	position: static;
	width: auto;
	margin-left: 15%;
	float: right;
	margin-top: 4%;
	margin-bottom: 4%;
}
.bovenregel {
	text-transform: uppercase;
}
.horecah1, .horecatekst, .bovenregel, .middenregel, .onderregel{
	margin: 0;
	font-size: 110%;
	font-weight: bold;
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#clear{
	clear:both;
	height: 1px;
	display:block;
	width:100%;
}


/* Horeca pagina */


#contactsection {
	border-style: solid;
    border-color: #1A8900;
	min-height: 469px;
	margin: 0;
	max-width: 100%;
	overflow: initial;
}
#contacttekstsection {
	height: 100%;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
#contacttitel{
	font-size: 110%;
	font-weight: bold;
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.asterisk{
	color: #dd0000;
}